<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>
  <body>
    <nav>
      <a href="http://localhost:8080/">Home</a>
      <a href="http://localhost:8080/about">About</a>
      <a href="http://localhost:8080/contact-me">Contact Me</a>
    </nav>
    <h1>About</h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo autem
      nostrum cumque, sint, a dignissimos, molestiae aliquam quisquam esse
      voluptas velit accusamus ullam exercitationem porro voluptate excepturi
      odio fuga ad.
    </p>
  </body>
</html>
