<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Me</title>
  </head>
  <body>
    <nav>
      <a href="http://localhost:8080/">Home</a>
      <a href="http://localhost:8080/about">About</a>
      <a href="http://localhost:8080/contact-me">Contact Me</a>
    </nav>
    <h1>Contact Me</h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque earum
      quaerat quasi minus, laudantium voluptates maxime blanditiis incidunt aut
      dolorem illo asperiores. Autem natus saepe laborum error corrupti eum
      sequi!
    </p>
  </body>
</html>
