<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
  </head>
  <body>
    <nav>
      <a href="http://localhost:8080/">Home</a>
      <a href="http://localhost:8080/about">About</a>
      <a href="http://localhost:8080/contact-me">Contact Me</a>
    </nav>
    <h1>Homepage</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam vero
      eligendi enim repellat aut eveniet voluptatibus neque provident ut
      temporibus placeat, assumenda nesciunt modi odit alias iure consectetur
      quis sequi!
    </p>
  </body>
</html>
